{% extends 'base-login.html' %}

{% block title %}Cadastrar Candidato{% endblock %}

{% block conteudo %}
    <div>
        <form id="form" action="{{ url_for('candidato.cadastrar_candidato') }}" method="POST">
            <label for="imagem"></label><img id="foto-de-perfil" src="{{ url_for('static', filename='img/icone_avatar_padrao.png') }}" alt="Foto de Perfil">
            <input id="imagem" name="imagem" type="file" accept="image/*" onchange="aplicarImagem(this)" hidden>

            <label>Nome Completo:<input type="text" name="nome" value="{{ session.get('nome_completo') }}"></label>
            <label>Nome Social:<input type="text" name="nome_social"></label>
            <label>CPF:<input type="text" name="cpf" onchange="formatarCPF(this.value)" value="{{ session.get('cpf') }}"></label>
            <label>Senha:<input id="senha" type="password" name="senha" value="{{ session.get('senha') }}"><a id="alternarVisibilidadeSenha" href="#" onclick="alternarVisibilidadeSenha(event)"><img id="icone_visibilidade_senha" src="{{ url_for('static', filename='img/icone_olho_aberto.png') }}" alt="Mostrar Senha"></a></label>
            <label>Data de Nascimento:<input type="date" name="data_nasc"></label>
            <label>Gênero:
                <select name="genero">
                    <option value="">Selecione seu gênero</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                </select>
            </label>
            
            <div>
                <h4>Endereço</h4>
                <label>CEP:<input type="text" name="cep" onchange="formatarCEP(this.value)"></label>
                <label>Endereço:<input type="text" name="endereco"></label>
                <label>Número:<input type="number" name="numero"></label>
                <label>Complemento:<input type="text" name="complemento"></label>
                <label>Bairro:<input type="text" name="bairro"></label>
                <label>Cidade:
                    <select name="cidade" disabled>
                        <option value="Rio Claro" selected>Rio Claro</option>
                    </select>
                </label>
                <label>Estado:
                    <select name="estado" disabled>
                        <option value="São Paulo" selected>São Paulo</option>
                    </select>
                </label>
            </div>

            <div>
                <div>
                    <h4>E-mails</h4>
                    <label id="label-email1">E-mail:<input type="email" name="email1"></label>
                    <label id="label-email2" hidden>Segundo e-mail:<input type="email" name="email2"></label>
                    <label id="label-email3" hidden>Terceiro e-mail:<input type="email" name="email3"></label>
                </div>
                <div>
                    <h4>Telefones</h4>
                        <div id="telefone1">
                        <label>Número:<input type="text" name="numero1"></label>
                        <label>Tratar com:<input type="text" name="nome_contato1"></label>
                        <input type="checkbox" id="ligacao1" name="ligacao1" value="ligacao" checked>
                        <label for="ligacao1">Ligação</label>

                        <input type="checkbox" id="whatsapp1" name="whatsapp1" value="whatsapp">
                        <label for="whatsapp1">WhatsApp</label>
                    </div>
                    <div id="telefone2" hidden>
                        <label>Número:<input type="text" name="numero2"></label>
                        <label>Tratar com:<input type="text" name="nome_contato2"></label>

                        <input type="checkbox" id="ligacao2" name="ligacao2" value="ligacao" checked>
                        <label for="ligacao2">Ligação</label>

                        <input type="checkbox" id="whatsapp2" name="whatsapp2" value="whatsapp">
                        <label for="whatsapp2">WhatsApp</label>
                    </div>
                    <div id="telefone3" hidden>
                        <label>Número:<input type="text" name="numero3"></label>
                        <label>Tratar com:<input type="text" name="nome_contato3"></label>

                        <input type="checkbox" id="ligacao3" name="ligacao3" value="ligacao" checked>
                        <label for="ligacao3">Ligação</label>

                        <input type="checkbox" id="whatsapp3" name="whatsapp3" value="whatsapp">
                        <label for="whatsapp3">WhatsApp</label>
                    </div>
                </div>
            </div>
                
            <label>Escolaridade:
                <select name="escolaridade">
                    <option value="">Selecione a sua escolaridade</option>
                    <option value="Ensino Fundamental Incompleto/Cursando">Ensino Fundamental Incompleto/Cursando</option>
                    <option value="Ensino Fundamental Completo">Ensino Fundamental Completo</option>
                    <option value="Ensino Médio Incompleto/Cursando">Ensino Médio Incompleto/Cursando</option>
                    <option value="Ensino Médio Completo">Ensino Médio Completo</option>
                    <option value="Ensino Superior Incompleto/Cursando">Ensino Superior Incompleto/Cursando</option>
                    <option value="Ensino Superior Completo">Ensino Superior Completo</option>
                    <option value="Pós-graduação Incompleta/Cursando">Pós-graduação Incompleta/Cursando</option>
                    <option value="Pós-graduação Completa">Pós-graduação Completa</option>
                </select>
            </label>
            <label>Em que período você estuda atualmente?
                <select name="periodo_estudo">
                    <option value="">Não estudo atualmente</option>
                    <option value="Manhã">Manhã</option>
                    <option value="Tarde">Tarde</option>
                    <option value="Noite">Noite</option>
                    <option value="Integral">Integral</option>
                </select>
            </label>
            <label>Já estudou no SENAI?
                <select name="ja_estudou">
                    <option value="Não">Não</option>
                    <option value="Sim">Sim</option>
                </select>
            </label>

            <div id="cursos"></div>

            <template id="molde-curso">
                <div class="curso-item" style="margin-bottom: 10px;">
                    <select class="select-dinamico">
                        <option value="">Selecione o curso que você já concluiu</option>
                        {% for curso in cursos %}
                            <option value="{{ curso.id }}">{{ curso.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </template>

            <button type="submit">Cadastrar-se</button>
        </form>
    </div>
{% endblock %}

<script>
    function aplicarImagem(input) {
        if (input.files && input.files[0]) {
            const arquivo = input.files[0]
            const urlImagem = URL.createObjectURL(arquivo)
            document.getElementById('foto-de-perfil').src = urlImagem
        }
    }

    function formatarCPF(cpf) {
        cpf = cpf.replace(/\D/g, '')
        cpf = cpf.substring(0, 11)

        cpf = cpf.replace(/\D/g,'')
        cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
        cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
        cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2')
        
        return cpf
    }

    function alternarVisibilidadeSenha(event) {
        if (event) event.preventDefault()
        const inputSenha = document.getElementById('senha')
        const img = document.getElementById('icone_visibilidade_senha_')
        if (inputSenha.type === "password") {
            inputSenha.type = "text"
            img.src = "{{ url_for('static', filename='img/icone_olho_fechado.png') }}"
        } else {
            inputSenha.type = "password"
            img.src = "{{ url_for('static', filename='img/icone_olho_aberto.png') }}"
        }
    }

    function formatarCEP(cep) {
        cep = cep.replace(/\D/g, '')
        cep = cep.substring(0, 8)
        cep = cep.replace(/(\d{5})(\d)/, '$1-$2')
        
        return cep
    }

    const e1 = document.querySelector('input[name="email1"]')
    const e2 = document.querySelector('input[name="email2"]')
    const e3 = document.querySelector('input[name="email3"]')
    
    const label2 = document.getElementById('label-email2')
    const label3 = document.getElementById('label-email3')

    function gerenciarEmails() {
        if (e1.value === '') {
            e1.value = e2.value
            e2.value = e3.value
            e3.value = ''
        }
    
        if (e2.value === '') {
            e2.value = e3.value
            e3.value = ''
        }

        label2.hidden = (e1.value === '')

        label3.hidden = (e2.value === '')
    }

    e1.addEventListener('input', gerenciarEmails)
    e2.addEventListener('input', gerenciarEmails)
    e3.addEventListener('input', gerenciarEmails)

    const n1 = document.querySelector('input[name="numero1"]')
    const n2 = document.querySelector('input[name="numero2"]')
    const n3 = document.querySelector('input[name="numero3"]')
    
    const div2 = document.getElementById('telefone2')
    const div3 = document.getElementById('telefone3')

    function moverDados(origem, destino) {
        document.querySelector(`input[name="numero${destino}"]`).value = document.querySelector(`input[name="numero${origem}"]`).value
        document.querySelector(`input[name="nome_contato${destino}"]`).value = document.querySelector(`input[name="nome_contato${origem}"]`).value
        
        document.querySelector(`input[name="ligacao${destino}"]`).checked = document.querySelector(`input[name="ligacao${origem}"]`).checked
        document.querySelector(`input[name="whatsapp${destino}"]`).checked = document.querySelector(`input[name="whatsapp${origem}"]`).checked
    }

    function limparDados(alvo) {
        document.querySelector(`input[name="numero${alvo}"]`).value = ''
        document.querySelector(`input[name="nome_contato${alvo}"]`).value = ''
        document.querySelector(`input[name="ligacao${alvo}"]`).checked = true
        document.querySelector(`input[name="whatsapp${alvo}"]`).checked = false
    }

    function gerenciarTelefones() {
        if (n1.value === '') {
            moverDados(2, 1)
            moverDados(3, 2)
            limparDados(3)
        }
        
        if (n2.value === '') {
            moverDados(3, 2)
            limparDados(3)
        }

        div2.hidden = (n1.value === '')
        div3.hidden = (n2.value === '')
    }

    n1.addEventListener('input', gerenciarTelefones)
    n2.addEventListener('input', gerenciarTelefones)
    n3.addEventListener('input', gerenciarTelefones)

    const selectJaEstudou = document.getElementById('ja_estudou')
    const divCursos = document.getElementById('cursos')
    const molde = document.getElementById('molde-curso')
    const totalDeCursos = molde.content.querySelectorAll('option').length - 1

    selectJaEstudou.addEventListener('change', () => {
        if (selectJaEstudou.value === 'Sim') {
            if (divCursos.children.length === 0) {
                adicionarNovoSelect(1)
            }
        } else {
            divCursos.innerHTML = ''
        }
    })

    function adicionarNovoSelect(numero) {
        const clone = molde.content.cloneNode(true)
        const select = clone.querySelector('select')
        
        select.name = `curso_concluido${numero}`
        select.addEventListener('change', gerenciarFilaDeCursos)
        
        divCursos.appendChild(clone)
        gerenciarFilaDeCursos()
    }

    function gerenciarFilaDeCursos() {
        const todosSelects = Array.from(divCursos.querySelectorAll('.select-dinamico'))
        const idsSelecionados = todosSelects.map(s => s.value).filter(val => val !== '')

        todosSelects.forEach(select => {
            const opcoes = select.querySelectorAll('option')
            
            opcoes.forEach(opcao => {
                if (opcao.value === '') return
                
                if (idsSelecionados.includes(opcao.value) && select.value !== opcao.value) {
                    opcao.hidden = true
                    opcao.style.display = 'none'
                } else {
                    opcao.hidden = false
                    opcao.style.display = ''
                }
            })
        })

        for (let i = 0; i < todosSelects.length; i++) {
            if (todosSelects[i].value === '' && i < todosSelects.length - 1) {
                while (divCursos.children.length > i + 1) {
                    divCursos.lastElementChild.remove()
                }
                break 
            }
        }

        const ultimoSelect = divCursos.querySelector('.curso-item:last-child select')
        
        if (ultimoSelect && ultimoSelect.value !== '') {
            if (idsSelecionados.length < totalDeCursos) {
                adicionarNovoSelect(divCursos.children.length + 1)
            }
        }
    }

    document.getElementById('form').addEventListener('submit', function(event) { 
        if (document.querySelector('[name="ja_estudou"]').value === 'Sim' && (document.querySelector('[name="curso_concluido1"]')?.value || "") !== "") {
            event.preventDefault()
            alert("Por favor, selecione quais cursos você já concluiu.")
        }
        
        const camposObrigatorios = [
            'nome', 'cpf', 'senha', 'data_nasc', 'genero', 'cep', 
            'endereco', 'numero', 'bairro', 'cidade', 'estado', 
            'escolaridade', 'periodo_estudo', 'email1', 'numero1'
        ]

        const temCampoVazio = camposObrigatorios.some(nome => {
            const el = document.querySelector(`[name="${nome}"]`)
            return !el || !el.value.trim()
        })

        if (temCampoVazio) {
            event.preventDefault()
            alert("Por favor, preencha todos os campos obrigatórios.")
        }
    })

</script>