{% extends 'base-login.html' %}

{% block title %}{{ admin.nome }}{% endblock %}

{% block conteudo %}
    <div>
        <img src="{{ url_for('geral.exibir_imagem_admin', id = admin.id) }}" alt="Foto de perfil de {{ admin.nome }}">
        <p>ID: <span>{{ admin.id }}</span></p>
        <h3>Nome: <span>{{ admin.nome }}</span></h3>
        <p>CPF: <span>{{ admin.cpf }}</span></p>
        <p>Data de Registro: <span>{{ admin.data_registro }}</span></p>
        
        <a href="#" onclick="editarAdministrador(event, '{{ url_for('admin.edicao_admin', id = admin.id) }}')">Editar Administrador</a>
        <a href="#" onclick="excluirAdministrador()">Excluir Administrador</a>

        <a href="{{ url_for('admin.admins') }}">Ver Administradores</a>
    </div>

    <script>
        function editarAdministrador(event, url) {
            event.preventDefault()
            const form = document.createElement('form')
            form.method = 'POST'
            form.action = url
            document.body.appendChild(form)
            form.submit()
        }
            
        function excluirAdministrador() {
            let resposta = confirm("Deseja mesmo excluir esse administrador? Essa ação é irreversível.")
            if (resposta) {
                fetch("{{ url_for('admin.excluir_admin', id=admin.id) }}")
                .then(() => {
                    window.location.href = "{{ url_for('admin.admins') }}"
                })
            }
        }
    </script>
{% endblock %}