{% extends 'base-login.html' %}

{% block title %}Administradores{% endblock %}

{% block conteudo %}
    <div id="itens">
        {% for admin in admins %}
            <div>
                <img src="{{ url_for('geral.exibir_imagem_admin', id = admin.id) }}" alt="Foto de perfil de {{ admin.nome }}">
                <p>ID: <span>{{ admin.id }}</span></p>
                <h3>Nome: <span>{{ admin.nome }}</span></h3>
                <p>CPF: <span>{{ admin.cpf }}</span></p>
                <p>Data de Registro: <span>{{ admin.data_registro }}</span></p>
                
                <a href="#" onclick="editarAdministrador(event, '{{ url_for('admin.edicao_admin', id = admin.id) }}')">Editar Administrador</a>
                <a href="#" onclick="excluirAdministrador(event, '{{ admin.id }}')">Excluir Administrador</a>
            </div>
        {% endfor %}
    </div>

    <script>
        function editarAdministrador(event, url) {
            event.preventDefault()
            const form = document.createElement('form')
            form.method = 'POST'
            form.action = url
            document.body.appendChild(form)
            form.submit()
        }

        function excluirAdministrador(event, id) {
            event.preventDefault()
            let resposta = confirm("Deseja mesmo excluir esse administrador? Essa ação é irreversível.")
            if (resposta) {
                const url = "{{ url_for('admin.excluir_admin', id=0) }}".replace('0', id)
                fetch(url, { method: 'POST' })
                .then(() => {
                    window.location.href = "{{ url_for('admin.admins') }}"
                })
            }
        }
    </script>
{% endblock %}
