{% extends 'base-login.html' %}

{% block title %} Cadastrar Administrador {% endblock %}

{% block conteudo %}
    <div>
        <form id="form" action="{{ url_for('admin.cadastrar_admin') }}" method="POST" enctype="multipart/form-data">
            <label for="imagem"></label><img id="foto-de-perfil" src="{{ url_for('static', filename='img/icone_avatar_padrao.png') }}" alt="Foto de Perfil">
            <input id="imagem" name="imagem" type="file" accept="image/*" onchange="aplicarImagem(this)" hidden>
                
            <label>Nome:<input type="text" name="nome"></label>
            <label>CPF:<input type="text" name="cpf" oninput="this.value = formatarCPF(this.value)"></label>
            <label>Senha:<input id="senha" type="password" name="senha"><a id="alternar-visibilidade-senha" href="#" onclick="alternarVisibilidadeSenha(event)"><img id="icone-visibilidade-senha" src="{{ url_for('static', filename='img/icone_olho_aberto.png') }}" alt="Mostrar Senha"></a></label>

            <button type="submit">Cadastrar</button>
        </form>
    </div>

    <script>
        function aplicarImagem(input) {
            if (input.files && input.files[0]) {
                const arquivo = input.files[0]
                const urlImagem = URL.createObjectURL(arquivo)
                document.getElementById('foto-de-perfil').src = urlImagem
            }
        }
        
        function formatarCPF(cpf) {
            cpf = cpf.replace(/\D/g, '')
            cpf = cpf.substring(0, 11)

            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2')
            
            return cpf
        }

        function alternarVisibilidadeSenha(event) {
            if (event) event.preventDefault()
            const inputSenha = document.getElementById('senha')
            const img = document.getElementById('icone-visibilidade-senha')
            if (inputSenha.type === "password") {
                inputSenha.type = "text"
                img.src = "{{ url_for('static', filename='img/icone_olho_fechado.png') }}"
            } else {
                inputSenha.type = "password"
                img.src = "{{ url_for('static', filename='img/icone_olho_aberto.png') }}"
            }
        }

        document.getElementById('form').addEventListener('submit', function(event) { 
            const nome = document.querySelector('input[name="nome"]').value
            const cpf = document.querySelector('input[name="cpf"]').value
            const senha = document.querySelector('input[name="senha"]').value

            if (!nome || !cpf || !senha) {
                event.preventDefault()
                alert("Por favor, preencha todos os campos obrigatórios.")
            }
        })
    </script>
{% endblock %}