{% extends 'base-login.html' %}

{% block title %} Editar Curso {% endblock %}

{% block conteudo %}
    <div>
        <form id="form" action="{{ url_for('admin.editar_curso', id=dados['id']) }}" method="POST">
            <label>Nome:<input type="text" name="nome" value="{{ dados.nome }}"></label>
            <label>Sigla:<input type="text" name="sigla" value="{{ dados.sigla }}"></label>
            <label>Horário:
                <select name="horario">
                    <option value="Manhã" {{ 'selected' if dados.horario == 'Manhã' else '' }}>Manhã</option>
                    <option value="Tarde" {{ 'selected' if dados.horario == 'Tarde' else '' }}>Tarde</option>
                    <option value="Noite" {{ 'selected' if dados.horario == 'Noite' else '' }}>Noite</option>
                </select>
            </label>
            <label>Detalhamento:<input type="text" name="detalhamento" value="{{ dados.detalhamento }}"></label>
            <label>Idade Mínima:<input type="number" name="idade-minima" value="{{ dados.idade_minima }}"></label>
            <label>Duração:
                <select name="duracao">
                    <option value="">Selecione a duração do curso</option>
                    <option value="1" {{ 'selected' if dados.duracao == '1' or dados.duracao == 1 else '' }}>1 mês</option>
                    <option value="12" {{ 'selected' if dados.duracao == '12' or dados.duracao == 12 else '' }}>1 ano</option>
                    <option value="18" {{ 'selected' if dados.duracao == '18' or dados.duracao == 18 else '' }}>1 ano e meio</option>
                    <option value="24" {{ 'selected' if dados.duracao == '24' or dados.duracao == 24 else '' }}>2 anos</option>
                </select>
            </label>
            <label>Vagas:<input type="number" name="vagas" value="{{ dados.vagas }}"></label>
        
            <button type="submit">Editar</button>
        </form>
    </div>

    <script>
        document.getElementById('form').addEventListener('submit', function(event) { 
            const nome = document.querySelector('[name="nome"]').value
            const sigla = document.querySelector('[name="sigla"]').value
            const horario = document.querySelector('[name="horario"]').value
            const detalhamento = document.querySelector('[name="detalhamento"]').value
            const idadeMinima = document.querySelector('[name="idade-minima"]').value
            const duracao = document.querySelector('[name="duracao"]').value
            const vagas = document.querySelector('[name="vagas"]').value

            if (!nome || !sigla || !horario || !detalhamento || !idadeMinima || !duracao || !vagas) {
                event.preventDefault()
                alert("Por favor, preencha todos os campos obrigatórios.")
            }
        })
    </script>
{% endblock %}