{% extends 'base-login.html' %}

{% block title %}Editar Administrador{% endblock %}

{% block conteudo %}
    <div>
        <form id="form" action="{{ url_for('admin.editar_admin', id=dados.id) }}" method="POST">
            <label for="imagem"></label><img id="foto-de-perfil" src="{{ url_for('geral.exibir_imagem_usuario') }}" alt="Foto de Perfil">
            <input id="imagem" name="imagem" type="file" accept="image/*" onchange="aplicarImagem(this)" hidden>
                
            <label>Nome:<input type="text" name="nome" value="{{ dados.nome }}"></label>
            <label>CPF:<input type="text" name="cpf" value="{{ dados.cpf }}" oninput="this.value = formatarCPF(this.value)"></label>

            <button type="submit">Editar</button>
        </form>
    </div>

    <script>
        function aplicarImagem(input) {
            if (input.files && input.files[0]) {
                const arquivo = input.files[0]
                const urlImagem = URL.createObjectURL(arquivo)
                document.getElementById('foto-de-perfil').src = urlImagem
            }
        }
        
        function formatarCPF(cpf) {
            cpf = cpf.replace(/\D/g, '')
            cpf = cpf.substring(0, 11)

            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2')
            
            return cpf
        }

        document.getElementById('form').addEventListener('submit', function(event) { 
            const nome = document.querySelector('input[name="nome"]').value
            const cpf = document.querySelector('input[name="cpf"]').value

            if (!nome || !cpf) {
                event.preventDefault()
                alert("Por favor, preencha todos os campos obrigatórios.")
            }
        })
    </script>
{% endblock %}