{% extends 'base-login.html' %}

{% block title %}Relatórios{% endblock %}

{% block conteudo %}
    <div id="itens">
        {% for relatorio in relatorios %}
            <a href="{{ url_for('geral.exibir_relatorio', id = relatorio.id) }}" target="_blank">
                <div>
                    <p>ID: <span>{{ relatorio.id }}</span></p>
                    <h3>Nome: <span>{{ relatorio.nome }}</span></h3>
                    <p>Data de Registro: <span>{{ relatorio.data_registro }}</span></p>
                </div>
            </a>
        {% else %}
            <h3>Nenhum relatório foi gerado ainda.</h3>
        {% endfor %}
    </div>
{% endblock %}