{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block main %}

    <h1>Candidatura SENAI</h1>
    <h2>Login</h2>
    <div id="container">
        <form id="form" action="{{ url_for('geral.login') }}" method="POST">
            <label for="">CPF/CNPJ:</label>
            <input type="text" name="login" maxlength="18" placeholder="Digite seu CPF/CNPJ" onkeyup="this.value=formatarCPFCNPJ(this.value)" >

            <label for="">Senha:</label>
            <input id="input-senha" type="password" name="senha" placeholder="Digite sua senha" >
            <a id="alternar-visibilidade-senha" href="#" onclick="alternar-visibilidade-senha(event)"><img id="icone-visibilidade-senha" src="{{ url_for('static', filename='img/icone_olho_aberto.png') }}" alt="Mostrar Senha"></a>
            
            <a href="{{ url_for('geral.esqueci_senha') }}">Esqueci minha senha</a>

            <div class="form-buttons">
                <button type="reset" class="btn-secundario">Limpar</button>
                <button type="submit" class="btn-primario">Entrar</button>
            </div>
        </form>
        <a href="{{ url_for('geral.cadastro') }}">Ainda não tem uma conta? Crie uma!</a>
    </div>
{% endblock %}

<script>
    document.getElementById('form').addEventListener('submit', function(event) {
        const login = document.getElementsByName('login')
        const senha = document.getElementsByName('senha')
        const caracteresLogin = login.value.length
        const caracteresSenha = senha.value.length
        
        if (caracteresLogin !== 14 && caracteresLogin !== 18) {
            event.preventDefault()
            alert("Insira um CPF/CNPJ válido.")
            login.focus()
        } else if (caracteresSenha == 0) {
            event.preventDefault()
            alert("Insira uma senha.")
            senha.focus()
        } else if (caracteresSenha < 8) {
            event.preventDefault()
            alert("A senha deve ser ter no mínimo 8 caracteres.")
            senha.focus()
        }
    })

    function formatarCPFCNPJ(login){
        const caracteres = document.getElementsByName('login').value.length
        login = login.replace(/\D/g, '')
        if (caracteres <= 14) {
            login = login.substring(0, 11)

            login = login.replace(/\D/g,'')
            login = login.replace(/(\d{3})(\d)/, '$1.$2')
            login = login.replace(/(\d{3})(\d)/, '$1.$2')
            login = login.replace(/(\d{3})(\d{1,2})$/, '$1-$2')
        }
        else {
            login = login.substring(0, 14)

            login = login.replace(/\D/g,'')
            login = login.replace(/(\d{2})(\d)/, '$1.$2')
            login = login.replace(/(\d{3})(\d)/, '$1.$2')
            login = login.replace(/(\d{3})(\d)/, '$1/$2')
            login = login.replace(/(\d{4})(\d)/, '$1-$2')
        }
        return login
    }

    function alternar-visibilidade-senha(event) {
        if (event) event.preventDefault()
        const input-senha = document.getElementById('input-senha')
        const img = document.getElementById('icone-visibilidade-senha_')
        if (input-senha.type === "password") {
            input-senha.type = "text"
            img.src = "{{ url_for('static', filename='img/icone_olho_fechado.png') }}"
        } else {
            input-senha.type = "password"
            img.src = "{{ url_for('static', filename='img/icone_olho_aberto.png') }}"
        }
    }
</script>