{% extends 'base-login.html' %}

{% block title %}Requisições de restauração de senha{% endblock %}

{% block conteudo %}
    <div id="itens">
        {% for requisicao in requisicoes %}
            <div>
                <h3>Nome: <span>{{ requisicao.nome }}</span></h3>
                <p>CPF/CNPJ: <span id="login-{{ loop.index }}">{{ requisicao.login }}</span></p>
                
                <label>Senha: <input type="text" id="senha-{{ loop.index }}" placeholder="Digite a nova senha do usuário aqui"></label>

                <button onclick="restaurarSenha('{{ loop.index }}')">Restaurar Senha</button>
            </div>
        {% else %}
            <h3>Nenhuma requisição pendente.</h3>
        {% endfor %}
    </div>

    <script>
        function restaurarSenha(id) {
            const login = document.getElementById(`login-${id}`).textContent.trim()
            const senha = document.getElementById(`senha-${id}`).value

            if (senha.length < 8) {
                alert("A senha deve ter no mínimo 8 dígitos!")
                return
            }

            let url = "{{ url_for('admin.restaurar_senha', login='0', senha='1') }}"
            url = url.replace('0', login).replace('1', senha)

            window.location.href = url
        }
    </script>
{% endblock %}