{% extends 'base.html' %}

{% block main %}
    <div id="sidebar">
        <a href="{{ url_for('geral.usuario') }}">
            <img src="{{ url_for('geral.exibir_imagem_usuario') }}" alt="Foto de Perfil">
            <h3>{{ session.get('nome') }}</h3>
        </a>
        <a href="{{ url_for('geral.index') }}">
            <img src="{{ url_for('static', filename='img/icone_casa.png') }}" alt="Página Principal">
            Início
        </a>
        <a href="{{ url_for('geral.logout') }}">
            <img src="{{ url_for('static', filename='img/icone_sair.png') }}" alt="Sair">
            Sair
        </a>
    </div> 

    <div id="container">
        <h3 id="saudacao">Olá, {{ session.get('nome') }}!</h3>
        
        {% block conteudo %}{% endblock %}
        
        <footer>
            <div class="footer-container">
                <img src="{{ url_for('static', filename='img/logo_senai.png') }}" alt="Logo do SENAI" class="footer-logo">
                <div class="footer-info">
                    <p><strong>Sistema de Contratações de Candidatos</strong> &bull; SENAI Rio Claro &copy; 2026</p>
                    <p class="footer-credits">Desenvolvido por <strong>Guilherme de Campos Gomes</strong> &bull; Curso: Desenvolvimento de Sistemas (2DS)</p>
                    <p class="footer-credits">Orientação: Daniel Felipe Cerri e Eduardo Jorge</p>
                </div>
                <div class="footer-version">
                    <span>Versão:</span>
                    <span class="badge-version">1.0.0-rc.1</span>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}