<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo_completo %}
            {% block title %}{% endblock %} | Candidatura SENAI
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container-mensagens">
            {% for category, message in messages %}
                <div class="alerta alerta-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <div class="footer-container">
            <img src="{{ url_for('static', filename='img/logo_senai.png') }}" alt="Logo do SENAI" class="footer-logo">
            <div class="footer-info">
                <p><strong>Sistema de Contratações de Candidatos</strong> &bull; SENAI Rio Claro &copy; 2026</p>
                <p class="footer-credits">Desenvolvido por <strong>Guilherme de Campos Gomes</strong> &bull; Curso: Desenvolvimento de Sistemas (2DS)</p>
                <p class="footer-credits">Orientação: Daniel Felipe Cerri e Eduardo Jorge</p>
            </div>
            <div class="footer-version">
                <span>Versão:</span>
                <span class="badge-version">1.0.0-rc.1</span>
            </div>
        </div>
    </footer>
    
</body>
</html>