{% extends 'base-login.html' %}

{% block title %}Candidatos{% endblock %}

{% block conteudo %}
    <div id="container-busca-filtros">
        <input type="text" name="pesquisa" id="pesquisa" placeholder="Pesquise um candidato específico..." onchange="atualizarPagina()">
        <button onclick="atualizarPagina()"><img src="{{ url_for('static', filename='img/icone_pesquisar.png') }}" alt="Pesquisar"></button>

        <select name="situacao" id="situacao" onchange="atualizarPagina()">
            <option value="Disponível" selected>Somente candidatos disponíveis para contratação</option>
            <option value="">Todos os candidatos</option>
        </select>

        <select name="horario" id="horario" multiple onchange="atualizarPagina()">
            <option value="" selected>Selecione horários de disponibilidade</option>
            <option value="Manhã">Manhã</option>
            <option value="Tarde">Tarde</option>
            <option value="Noite">Noite</option>
        </select>

        {% if session.get('tipo') == 'admin' %}
            <select name="cursos" id="cursos" multiple onchange="atualizarPagina()">
                {% for curso in cursos %}
                    <option value="{{ curso.sigla }}">{{ curso.nome }} ({{ curso.sigla }})</option>
                {% endfor %}
            </select>
        {% else %}
            <select name="tipo-cursos" id="tipo-cursos" onchange="atualizarPagina()">
                <option value="vagas" selected>Interessados nos cursos das suas vagas</option>
                <option value="">Interessados em todos os cursos</option>
            </select>
        {% endif %}

        <h3 id="numero-resultados">Nenhum resultado encontrado</h3>
    </div>

    <div id="itens"></div>
{% endblock %}

<script>
    const IDs = ['horario', 'cursos']

    IDs.forEach(id => {
        const elementoSelect = document.getElementById(id)
        
        if (!elementoSelect) return

        elementoSelect.addEventListener('mousedown', function (e) {
            e.preventDefault()
            const clicada = e.target

            if (clicada.tagName === 'OPTION' && !clicada.disabled) {
                clicada.selected = !clicada.selected
                
                const opcaoPadrao = elementoSelect.querySelector('option[value=""]');
                if (opcaoPadrao) {
                    opcaoPadrao.disabled = true
                    opcaoPadrao.selected = false
                }
                
                elementoSelect.dispatchEvent(new Event('change'))
            }
        })
    })
    
    function atualizarPagina() {
        const container = document.getElementById('itens')
        const resultados = document.getElementById('numero-resultados').textContent

        if (dados.candidatos.length == 0) {
            resultados = "Nenhum resultado encontrado."
        } else if (dados.candidatos.length == 1) {
            resultados = "1 resultado encontrado."
        } else {
            resultados = `${dados.candidatos.length} resultados encontrados.`
        }

        const pesquisa = document.getElementById('pesquisa').value
        const situacao = document.getElementById('situacao').value
        const horarios = [...document.getElementById('horario').selectedOptions].map(opcao => opcao.value)
        const cursos = [...document.getElementById('cursos').selectedOptions].map(opcao => opcao.value)
        const tipoCursos = [...document.getElementById('cursos-vagas').selectedOptions].map(opcao => opcao.value)
        const urlBase = "{{ url_for('geral.api_dados_candidatos') }}"
        const parametros = new URLSearchParams()

        parametros.append('pesquisa', pesquisa)
        parametros.append('situacao', situacao)
        horarios.forEach(turno => {
            parametros.append('horarios', turno)
        })
        cursos.forEach(turno => {
            parametros.append('cursos', turno)
        })
        tipoCursos.forEach(turno => {
            parametros.append('tipo-cursos', turno)
        })

        const urlFinal = `${urlBase}?${parametros.toString()}`

        fetch(urlFinal)
        .then(response => response.json())
        .then(dados => {
            container.innerHTML = ''
                
            if (dados.candidatos.length == 0) {
                container.innerHTML = '<h3>Nenhum candidato encontrado com estes filtros.</h3>'
            }

            dados.candidatos.forEach(candidato => {
                const item = document.createElement('a')

                if (candidato.status === 'Ativo'){
                    const classe = 'ativo'
                } else {
                    if (session.get('tipo') == 'empresa') {
                        return
                    }
                    const classe = 'inativo'
                }
                item.id = `a-item-${index + 1}`
                item.href = `{{ url_for('candidato', id = candidato.id) }}`
                item.innerHTML = `
                <div id="item-\${index + 1}" class="item-\${classe}">
                    <img src="{{ url_for('geral.exibir_imagem_candidato', id = candidato.id) }}" alt="Foto de perfil de {{ candidato.nome }}">
                    <p>ID: {{ candidato.id }} </p>
                    <h4>{{ candidato.nome }}</h4>
                    <p>{{ candidato.idade }} anos</p>
                    <p>{{ candidato.escolaridade }}</p>
                    {% if candidato.periodo_livre | length == 1 %}
                        <p>{{ candidato.periodo_livre[0] }}</p>
                    {% elif candidato.periodo_livre | length == 2 %}
                        <p>{{ candidato.periodo_livre[0] }} e {{ candidato.periodo_livre[1] }}</p>
                    {% else %}
                        <p>{{ candidato.periodo_livre[0] }}, {{ candidato.periodo_livre[1] }} e {{ candidato.periodo_livre[2] }}</p>
                    {% endif %}
                    <p>{{ candidato.data_registro }}</p>
                    
                    {% if session.get('tipo') == 'admin' %}
                        <a href="{{ url_for('admin.edicao_candidato', id = candidato.id) }}>Editar</a>
                        <a onclick="excluirCandidato()">Excluir</a>
                    {% else %}
                        {% if not candidato.relacao %}
                            <a onclick="atualizarBotoesEmpresa(\`{{ url_for('empresa.marcar_candidato', id = candidato.id) }}\`)">Marcar com Interesse</a>
                            <a onclick="atualizarBotoesEmpresa(\`{{ url_for('empresa.selecionar_candidato', id = candidato.id, nome = candidato.nome) }}\`,'',\`Insira os detalhes da seleção de {{ candidato.nome }}:\`)">Selecionar Candidato</a>
                        {% elif candidato.relacao == "Marcado" %}
                            <a onclick="atualizarBotoesEmpresa(\`{{ url_for('empresa.marcar_candidato', id = candidato.id) }}\`)">Desmarcar Candidato</a>
                            <a onclick="atualizarBotoesEmpresa(\`{{ url_for('empresa.selecionar_candidato', id = candidato.id) }}\`,'',\`Insira os detalhes da seleção de {{ candidato.nome }}:\`)">Selecionar Candidato</a>
                        {% else %}
                            <a onclick="atualizarBotoesEmpresa(\`{{ url_for('empresa.selecionar_candidato', id = candidato.id') }}\`,\`Deseja mesmo remover {{ candidato.nome }} dos seus candidatos selecionados?\`)">Remover Seleção</a>
                        {% endif %}
                    {% endif %}
                </div>
                `
                container.appendChild(item)
            })
        })
    }

    function excluirCandidato(id,nome) {
        let resposta = confirm(`Deseja mesmo excluir a candidatura de ${nome}?`)
        if (resposta) {
            fetch(`{{ url_for('candidato.excluir_candidato', id = ${id}) }}`)
            document.getElementById(`a_item_${id}`).remove()
        }
    }

    function atualizarBotoesEmpresa(url,pergunta,prompt) {
        if (prompt) {
            let detalhamento = prompt(prompt)
            if (!detalhamento) {
                return
            }
        } 
        if (pergunta) {
            let resposta = confirm(pergunta)
            if (!resposta) {
                return
            }
        } 
        fetch(url)
        const item = document.createElement('a')

        item.innerHTML = ''
        item.innerHTML = `
        <div id="item-\${index + 1}" class="item-\${classe}">
            <img src="{{ url_for('geral.exibir_imagem_candidato', id = candidato.id) }}" alt="Foto de perfil de {{ candidato.nome }}">
            <p>ID: {{ candidato.id }} </p>
            <h4>{{ candidato.nome }}</h4>
            <p>{{ candidato.idade }} anos</p>
            <p>{{ candidato.escolaridade }}</p>
            {% if candidato.periodo_livre | length == 1 %}
                <p>{{ candidato.periodo_livre[0] }}</p>
            {% elif candidato.periodo_livre | length == 2 %}
                <p>{{ candidato.periodo_livre[0] }} e {{ candidato.periodo_livre[1] }}</p>
            {% else %}
                <p>{{ candidato.periodo_livre[0] }}, {{ candidato.periodo_livre[1] }} e {{ candidato.periodo_livre[2] }}</p>
            {% endif %}
            <p>{{ candidato.data_registro }}</p>
            
            {% if session.get('tipo') == 'admin' %}
                <a href="{{ url_for('admin.edicao_candidato', id = candidato.id) }}>Editar</a>
                <a onclick="excluirCandidato()">Excluir</a>
            {% else %}
                {% if not candidato.relacao %}
                    <a onclick="atualizarBotoesEmpresa(\`{{ url_for('empresa.marcar_candidato', id = candidato.id) }}\`)">Marcar com Interesse</a>
                    <a onclick="atualizarBotoesEmpresa(\`{{ url_for('empresa.selecionar_candidato', id = candidato.id, nome = candidato.nome) }}\`,'',\`Insira os detalhes da seleção de {{ candidato.nome }}:\`)">Selecionar Candidato</a>
                {% elif candidato.relacao == "Marcado" %}
                    <a onclick="atualizarBotoesEmpresa(\`{{ url_for('empresa.marcar_candidato', id = candidato.id) }}\`)">Desmarcar Candidato</a>
                    <a onclick="atualizarBotoesEmpresa(\`{{ url_for('empresa.selecionar_candidato', id = candidato.id) }}\`,'',\`Insira os detalhes da seleção de {{ candidato.nome }}:\`)">Selecionar Candidato</a>
                {% else %}
                    <a onclick="atualizarBotoesEmpresa(\`{{ url_for('empresa.selecionar_candidato', id = candidato.id') }}\`,\`Deseja mesmo remover {{ candidato.nome }} dos seus candidatos selecionados?\`)">Remover Seleção</a>
                {% endif %}
            {% endif %}
        </div>
        `
        
    }

    atualizarPagina()
    setInterval(atualizarPagina, 5000)
</script>