{% extends 'base-login.html' %}

{% block title %}Candidatos{% endblock %}

{% block conteudo %}
    <div id="container-busca-filtros">
        <input type="text" name="pesquisa" id="pesquisa" placeholder="Pesquise um candidato específico..." onchange="atualizarPagina()">
        <button onclick="atualizarPagina()"><img src="{{ url_for('static', filename='img/icone_pesquisar.png') }}" alt="Pesquisar"></button>

        <select name="situacao" id="situacao" onchange="atualizarPagina()">
            <option value="Disponível" selected>Somente candidatos disponíveis para contratação</option>
            <option value="">Todos os candidatos</option>
        </select>

        <select name="horario" id="horario" multiple onchange="atualizarPagina()">
            <option value="" selected>Selecione horários de disponibilidade</option>
            <option value="Manhã">Manhã</option>
            <option value="Tarde">Tarde</option>
            <option value="Noite">Noite</option>
        </select>

        {% if session.get('tipo') == 'admin' %}
            <select name="cursos" id="cursos" multiple onchange="atualizarPagina()">
                {% for curso in cursos %}
                    <option value="{{ curso.sigla }}">{{ curso.nome }} ({{ curso.sigla }})</option>
                {% endfor %}
            </select>
        {% else %}
            <select name="tipo-cursos" id="tipo-cursos" onchange="atualizarPagina()">
                <option value="vagas" selected>Interessados nos cursos das suas vagas</option>
                <option value="">Interessados em todos os cursos</option>
            </select>
        {% endif %}

        <h3 id="numero-resultados">Nenhum resultado encontrado</h3>
    </div>

    <div id="itens"></div>

    <script>
        const IDs = ['horario', 'cursos']

        IDs.forEach(id => {
            const elementoSelect = document.getElementById(id)
            
            if (!elementoSelect) return

            elementoSelect.addEventListener('mousedown', function (e) {
                e.preventDefault()
                const clicada = e.target

                if (clicada.tagName === 'OPTION' && !clicada.disabled) {
                    clicada.selected = !clicada.selected
                    
                    const opcaoPadrao = elementoSelect.querySelector('option[value=""]');
                    if (opcaoPadrao) {
                        opcaoPadrao.disabled = true
                        opcaoPadrao.selected = false
                    }
                    
                    elementoSelect.dispatchEvent(new Event('change'))
                }
            })
        })
        
        function atualizarPagina() {
            const container = document.getElementById('itens')
            let resultadosElemento = document.getElementById('numero-resultados')

            const pesquisa = document.getElementById('pesquisa').value
            const situacao = document.getElementById('situacao').value
            
            const horarios = [...document.getElementById('horario').selectedOptions].map(opcao => opcao.value).filter(v => v !== '')
            
            const elementoCursos = document.getElementById('cursos')
            const cursos = elementoCursos ? [...elementoCursos.selectedOptions].map(opcao => opcao.value).filter(v => v !== '') : []
            
            const elementoTipoCursos = document.getElementById('tipo-cursos')
            const tipoCursos = elementoTipoCursos ? [...elementoTipoCursos.selectedOptions].map(opcao => opcao.value).filter(v => v !== '') : []
            
            const urlBase = "{{ url_for('geral.api_dados_candidatos') }}"
            const parametros = new URLSearchParams()

            if (pesquisa) parametros.append('pesquisa', pesquisa)
            if (situacao) parametros.append('situacao', situacao)
            
            horarios.forEach(turno => parametros.append('horarios', turno))
            cursos.forEach(curso => parametros.append('cursos', curso))
            tipoCursos.forEach(tipo => parametros.append('tipo-cursos', tipo))

            const urlFinal = `${urlBase}?${parametros.toString()}`

            fetch(urlFinal)
            .then(response => {
                if (!response.ok) throw new Error("Erro no servidor");
                return response.json();
            })
            .then(dados => {
                container.innerHTML = ''

                if (!dados.candidatos || dados.candidatos.length == 0) {
                    resultadosElemento.textContent = "Nenhum resultado encontrado."
                    container.innerHTML = '<h3>Nenhum candidato encontrado com estes filtros.</h3>'
                    return
                } else if (dados.candidatos.length == 1) {
                    resultadosElemento.textContent = "1 resultado encontrado."
                } else {
                    resultadosElemento.textContent = `${dados.candidatos.length} resultados encontrados.`
                }

                dados.candidatos.forEach((candidato, index) => {
                    const item = document.createElement('a')
                    let classe = candidato.status === 'Ativo' ? 'ativo' : 'inativo'
                    let botoesAcao = ''

                    if (classe === 'inativo' && "{{ session.get('tipo') }}" == 'empresa') {
                        return
                    }

                    if ("{{ session.get('tipo') }}" == 'admin') {
                        botoesAcao = `
                            <a href="/admin/edicao_candidato/${candidato.id}">Editar</a>
                            <a onclick="event.preventDefault(); excluirCandidato(${candidato.id}, '${candidato.nome}')" style="cursor: pointer;">Excluir</a>
                        `
                    } else {
                        if (!candidato.relacao) {
                            botoesAcao = `
                                <a onclick="event.preventDefault(); atualizarBotoesEmpresa('/empresa/marcar_candidato/${candidato.id}')" style="cursor: pointer;">Marcar com Interesse</a>
                                <a onclick="event.preventDefault(); atualizarBotoesEmpresa('/empresa/selecionar_candidato/${candidato.id}')" style="cursor: pointer;">Selecionar Candidato</a>
                            `
                        } else if (candidato.relacao == "Marcado") {
                            botoesAcao = `
                                <a onclick="event.preventDefault(); atualizarBotoesEmpresa('/empresa/marcar_candidato/${candidato.id}')" style="cursor: pointer;">Desmarcar Candidato</a>
                                <a onclick="event.preventDefault(); atualizarBotoesEmpresa('/empresa/selecionar_candidato/${candidato.id}')" style="cursor: pointer;">Selecionar Candidato</a>
                            `
                        } else {
                            botoesAcao = `
                                <a onclick="event.preventDefault(); atualizarBotoesEmpresa('/empresa/selecionar_candidato/${candidato.id}', 'Deseja mesmo remover ${candidato.nome} dos seus candidatos selecionados?')" style="cursor: pointer;">Remover Seleção</a>
                            `
                        }
                    }

                    let periodoTexto = ''
                    if (candidato.periodo_livre && candidato.periodo_livre.length > 0) {
                        if (candidato.periodo_livre.length == 1) {
                            periodoTexto = `<p>${candidato.periodo_livre[0]}</p>`
                        } else if (candidato.periodo_livre.length == 2) {
                            periodoTexto = `<p>${candidato.periodo_livre[0]} e ${candidato.periodo_livre[1]}</p>`
                        } else {
                            periodoTexto = `<p>${candidato.periodo_livre[0]}, ${candidato.periodo_livre[1]} e ${candidato.periodo_livre[2]}</p>`
                        }
                    }

                    item.id = `a-item-${candidato.id}`
                    item.href = `/candidato/${candidato.id}`
                    item.innerHTML = `
                    <div id="item-${index + 1}" class="item-${classe}">
                        <img src="/geral/exibir_imagem_candidato/${candidato.id}" alt="Foto de perfil">
                        <p>ID: ${candidato.id} </p>
                        <h4>${candidato.nome}</h4>
                        <p>${candidato.idade} anos</p>
                        <p>${candidato.escolaridade}</p>
                        ${periodoTexto}
                        <p>${candidato.data_registro}</p>
                        ${botoesAcao}
                    </div>
                    `
                    container.appendChild(item)
                })
            })
            .catch(erro => console.error(erro));
        }

        function excluirCandidato(id, nome) {
            let resposta = confirm(`Deseja mesmo excluir a candidatura de ${nome}?`)
            if (resposta) {
                fetch(`/candidato/excluir_candidato/${id}`)
                .then(() => {
                    document.getElementById(`a-item-${id}`).remove()
                    atualizarPagina()
                })
            }
        }

        function atualizarBotoesEmpresa(url, pergunta) {
            if (pergunta) {
                let resposta = confirm(pergunta)
                if (!resposta) {
                    return
                }
            } 
            
            fetch(url).then(() => atualizarPagina())
        }

        atualizarPagina()
    </script>
{% endblock %}