{% extends 'base.html' %}

{% block title %} Editar Dados {% endblock %}

{% block main %}
    <div>   
        <form id="form" action="{{ url_for('geral.editar_dados') }}" method="POST">
            <label for="imagem"></label><img id="foto-de-perfil" src="{{ url_for('geral.exibir_imagem_usuario') }}" alt="Foto de Perfil">
            <input id="imagem" name="imagem" type="file" accept="image/*" onchange="aplicarImagem(this)" hidden>

            {% if session.get('tipo') == 'admin' %}                    
                <label>Nome:<input type="text" name="nome" value="{{ dados.nome }}"></label>
                <label>CPF:<input type="text" name="cpf" value="{{ dados.cpf }}" onkeyup="this.value = formatarCPF(this.value)"></label>
            {% elif session.get('tipo') == 'candidato' %}
                <label>Nome Completo:<input type="text" name="nome" value="{{ session.get('nome_completo') }}"></label>
                <label>Nome Social:<input type="text" name="nome_social"></label>
                <label>CPF:<input type="text" name="cpf" onkeyup="this.value = formatarCPF(this.value)" value="{{ session.get('cpf') }}"></label>
                <label>Senha:<input id="senha" type="password" name="senha" value="{{ session.get('senha') }}"><a id="alternar-visibilidade-senha" onclick="alternarVisibilidadeSenha(event)"><img id="icone-visibilidade-senha" src="{{ url_for('static', filename='img/icone_olho_aberto.png') }}" alt="Mostrar Senha"></a></label>
                <label>Data de Nascimento:<input type="date" name="data_nasc"></label>
                <label>Gênero:
                    <select name="genero">
                        <option value="">Selecione seu gênero</option>
                        <option value="Masculino" {{ 'selected' if dados.genero == 'Masculino' else '' }}>Masculino</option>
                        <option value="Feminino" {{ 'selected' if dados.genero == 'Feminino' else '' }}>Feminino</option>
                    </select>
                </label>
                
                <div>
                    <h4>Endereço</h4>
                    <label>CEP:<input type="text" name="cep" onkeyup="formatarCEP(this.value)" value="{{ dados.cep }}"></label>
                    <label>Endereço:<input type="text" name="endereco" value="{{ dados.endereco }}"></label>
                    <label>Número:<input type="number" name="numero" value="{{ dados.numero }}"></label>
                    <label>Complemento:<input type="text" name="complemento" value="{{ dados.complemento }}"></label>
                    <label>Bairro:<input type="text" name="bairro" value="{{ dados.bairro }}"></label>
                    <label>Cidade:
                        <select name="cidade" disabled>
                            <option value="Rio Claro" selected>Rio Claro</option>
                        </select>
                    </label>
                    <label>Estado:
                        <select name="estado" disabled>
                            <option value="São Paulo" selected>São Paulo</option>
                        </select>
                    </label>
                </div>

                <div>
                    <div>
                        <h4>E-mails</h4>
                        <label id="label-email1">
                            E-mail:
                            <input type="email" name="email1" value="{{ emails[0].email if emails|length > 0 else '' }}">
                        </label>
                        <label id="label-email2" {{ '' if emails|length > 1 else 'hidden' }}>
                            Segundo e-mail:
                            <input type="email" name="email2" value="{{ emails[1].email if emails|length > 1 else '' }}">
                        </label>
                        <label id="label-email3" {{ '' if emails|length > 2 else 'hidden' }}>
                            Terceiro e-mail:
                            <input type="email" name="email3" value="{{ emails[2].email if emails|length > 2 else '' }}">
                        </label>
                    </div>
                    <div>
                        <h4>Telefones</h4>
                        <div id="telefone1">
                            <label>Número:<input type="text" name="numero1" value="{{ telefones[0]['numero'] if telefones|length > 0 else '' }}"></label>
                            <label>Tratar com:<input type="text" name="nome_contato1" value="{{ telefones[0]['nome_contato'] if telefones|length > 0 else '' }}"></label>
                            
                            <input type="checkbox" id="ligacao1" name="ligacao1" value="ligacao" 
                                {{ 'checked' if telefones|length > 0 and (telefones[0]['preferencia_contato'] == 'Ligação' or telefones[0]['preferencia_contato'] == 'Ambos') else '' }}>
                            <label for="ligacao1">Ligação</label>

                            <input type="checkbox" id="whatsapp1" name="whatsapp1" value="whatsapp"
                                {{ 'checked' if telefones|length > 0 and (telefones[0]['preferencia_contato'] == 'WhatsApp' or telefones[0]['preferencia_contato'] == 'Ambos') else '' }}>
                            <label for="whatsapp1">WhatsApp</label>
                        </div>
                        <div id="telefone2" {{ '' if telefones|length > 1 else 'hidden' }}>
                            <label>Número:<input type="text" name="numero2" value="{{ telefones[1]['numero'] if telefones|length > 1 else '' }}"></label>
                            <label>Tratar com:<input type="text" name="nome_contato2" value="{{ telefones[1]['nome_contato'] if telefones|length > 1 else '' }}"></label>

                            <input type="checkbox" id="ligacao2" name="ligacao2" value="ligacao"
                                {{ 'checked' if telefones|length > 1 and (telefones[1]['preferencia_contato'] == 'Ligação' or telefones[1]['preferencia_contato'] == 'Ambos') else '' }}>
                            <label for="ligacao2">Ligação</label>

                            <input type="checkbox" id="whatsapp2" name="whatsapp2" value="whatsapp"
                                {{ 'checked' if telefones|length > 1 and (telefones[1]['preferencia_contato'] == 'WhatsApp' or telefones[1]['preferencia_contato'] == 'Ambos') else '' }}>
                            <label for="whatsapp2">WhatsApp</label>
                        </div>
                        <div id="telefone3" {{ '' if telefones|length > 2 else 'hidden' }}>
                            <label>Número:<input type="text" name="numero3" value="{{ telefones[2]['numero'] if telefones|length > 2 else '' }}"></label>
                            <label>Tratar com:<input type="text" name="nome_contato3" value="{{ telefones[2]['nome_contato'] if telefones|length > 2 else '' }}"></label>

                            <input type="checkbox" id="ligacao3" name="ligacao3" value="ligacao"
                                {{ 'checked' if telefones|length > 2 and (telefones[2]['preferencia_contato'] == 'Ligação' or telefones[2]['preferencia_contato'] == 'Ambos') else '' }}>
                            <label for="ligacao3">Ligação</label>

                            <input type="checkbox" id="whatsapp3" name="whatsapp3" value="whatsapp"
                                {{ 'checked' if telefones|length > 2 and (telefones[2]['preferencia_contato'] == 'WhatsApp' or telefones[2]['preferencia_contato'] == 'Ambos') else '' }}>
                            <label for="whatsapp3">WhatsApp</label>
                        </div>
                    </div>
                </div>
                    
                <label>Escolaridade:
                    <select name="escolaridade">
                        <option value="">Selecione a sua escolaridade</option>
                        <option value="Ensino Fundamental Incompleto/Cursando" {{ 'selected' if dados.escolaridade == 'Ensino Fundamental Incompleto/Cursando' else '' }}>Ensino Fundamental Incompleto/Cursando</option>
                        <option value="Ensino Fundamental Completo" {{ 'selected' if dados.escolaridade == 'Ensino Fundamental Completo' else '' }}>Ensino Fundamental Completo</option>
                        <option value="Ensino Médio Incompleto/Cursando" {{ 'selected' if dados.escolaridade == 'Ensino Médio Incompleto/Cursando' else '' }}>Ensino Médio Incompleto/Cursando</option>
                        <option value="Ensino Médio Completo" {{ 'selected' if dados.escolaridade == 'Ensino Médio Completo' else '' }}>Ensino Médio Completo</option>
                        <option value="Ensino Superior Incompleto/Cursando" {{ 'selected' if dados.escolaridade == 'Ensino Superior Incompleto/Cursando' else '' }}>Ensino Superior Incompleto/Cursando</option>
                        <option value="Ensino Superior Completo" {{ 'selected' if dados.escolaridade == 'Ensino Superior Completo' else '' }}>Ensino Superior Completo</option>
                        <option value="Pós-graduação Incompleta/Cursando" {{ 'selected' if dados.escolaridade == 'Pós-graduação Incompleta/Cursando' else '' }}>Pós-graduação Incompleta/Cursando</option>
                        <option value="Pós-graduação Completa" {{ 'selected' if dados.escolaridade == 'Pós-graduação Completa' else '' }}>Pós-graduação Completa</option>
                    </select>
                </label>

                <label>Em que período você estuda atualmente?
                    <select name="periodo_estudo">
                        <option value="" {{ 'selected' if dados.periodo_estudo == '' else '' }}>Não estudo atualmente</option>
                        <option value="Manhã" {{ 'selected' if dados.periodo_estudo == 'Manhã' else '' }}>Manhã</option>
                        <option value="Tarde" {{ 'selected' if dados.periodo_estudo == 'Tarde' else '' }}>Tarde</option>
                        <option value="Noite" {{ 'selected' if dados.periodo_estudo == 'Noite' else '' }}>Noite</option>
                        <option value="Integral" {{ 'selected' if dados.periodo_estudo == 'Integral' else '' }}>Integral</option>
                    </select>
                </label>

                <label>Já estudou no SENAI?
                    <select name="ja_estudou">
                        <option value="Não" {{ 'selected' if dados.ja_estudou == 'Não' else '' }}>Não</option>
                        <option value="Sim" {{ 'selected' if dados.ja_estudou == 'Sim' else '' }}>Sim</option>
                    </select>
                </label>
            {% else %}
                <div>
                    <h4>E-mails</h4>
                    <label id="label-email1">
                        E-mail:
                        <input type="email" name="email1" value="{{ emails[0].email if emails|length > 0 else '' }}">
                    </label>
                    <label id="label-email2" {{ '' if emails|length > 1 else 'hidden' }}>
                        Segundo e-mail:
                        <input type="email" name="email2" value="{{ emails[1].email if emails|length > 1 else '' }}">
                    </label>
                    <label id="label-email3" {{ '' if emails|length > 2 else 'hidden' }}>
                        Terceiro e-mail:
                        <input type="email" name="email3" value="{{ emails[2].email if emails|length > 2 else '' }}">
                    </label>
                </div>
                <div>
                    <h4>Telefones</h4>
                    <div id="telefone1">
                        <label>Número:<input type="text" name="numero1" value="{{ telefones[0]['numero'] if telefones|length > 0 else '' }}"></label>
                        <label>Tratar com:<input type="text" name="nome_contato1" value="{{ telefones[0]['nome_contato'] if telefones|length > 0 else '' }}"></label>
                        
                        <input type="checkbox" id="ligacao1" name="ligacao1" value="ligacao" 
                            {{ 'checked' if telefones|length > 0 and (telefones[0]['preferencia_contato'] == 'Ligação' or telefones[0]['preferencia_contato'] == 'Ambos') else '' }}>
                        <label for="ligacao1">Ligação</label>

                        <input type="checkbox" id="whatsapp1" name="whatsapp1" value="whatsapp"
                            {{ 'checked' if telefones|length > 0 and (telefones[0]['preferencia_contato'] == 'WhatsApp' or telefones[0]['preferencia_contato'] == 'Ambos') else '' }}>
                        <label for="whatsapp1">WhatsApp</label>
                    </div>
                    <div id="telefone2" {{ '' if telefones|length > 1 else 'hidden' }}>
                        <label>Número:<input type="text" name="numero2" value="{{ telefones[1]['numero'] if telefones|length > 1 else '' }}"></label>
                        <label>Tratar com:<input type="text" name="nome_contato2" value="{{ telefones[1]['nome_contato'] if telefones|length > 1 else '' }}"></label>

                        <input type="checkbox" id="ligacao2" name="ligacao2" value="ligacao"
                            {{ 'checked' if telefones|length > 1 and (telefones[1]['preferencia_contato'] == 'Ligação' or telefones[1]['preferencia_contato'] == 'Ambos') else '' }}>
                        <label for="ligacao2">Ligação</label>

                        <input type="checkbox" id="whatsapp2" name="whatsapp2" value="whatsapp"
                            {{ 'checked' if telefones|length > 1 and (telefones[1]['preferencia_contato'] == 'WhatsApp' or telefones[1]['preferencia_contato'] == 'Ambos') else '' }}>
                        <label for="whatsapp2">WhatsApp</label>
                    </div>
                    <div id="telefone3" {{ '' if telefones|length > 2 else 'hidden' }}>
                        <label>Número:<input type="text" name="numero3" value="{{ telefones[2]['numero'] if telefones|length > 2 else '' }}"></label>
                        <label>Tratar com:<input type="text" name="nome_contato3" value="{{ telefones[2]['nome_contato'] if telefones|length > 2 else '' }}"></label>

                        <input type="checkbox" id="ligacao3" name="ligacao3" value="ligacao"
                            {{ 'checked' if telefones|length > 2 and (telefones[2]['preferencia_contato'] == 'Ligação' or telefones[2]['preferencia_contato'] == 'Ambos') else '' }}>
                        <label for="ligacao3">Ligação</label>

                        <input type="checkbox" id="whatsapp3" name="whatsapp3" value="whatsapp"
                            {{ 'checked' if telefones|length > 2 and (telefones[2]['preferencia_contato'] == 'WhatsApp' or telefones[2]['preferencia_contato'] == 'Ambos') else '' }}>
                        <label for="whatsapp3">WhatsApp</label>
                    </div>
                </div>
            {% endif %}
                 
            <button type="submit">Editar</button>
        </form>
    </div>

    <script>
        function aplicarImagem(input) {
            if (input.files && input.files[0]) {
                const arquivo = input.files[0]
                const urlImagem = URL.createObjectURL(arquivo)
                document.getElementById('foto-de-perfil').src = urlImagem
            }
        }
        function formatarCPF(cpf) {
            cpf = cpf.replace(/\D/g, '')
            cpf = cpf.substring(0, 11)

            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2')
            
            return cpf
        }

        function formatarCEP(cep) {
            return cep; 
        }

        function alternarVisibilidadeSenha(event) {
            event.preventDefault();
            const inputSenha = document.getElementById('senha');
            const icone = document.getElementById('icone-visibilidade-senha');
            
            if (inputSenha.type === 'password') {
                inputSenha.type = 'text';
                icone.src = "{{ url_for('static', filename='img/icone_olho_fechado.png') }}";
            } else {
                inputSenha.type = 'password';
                icone.src = "{{ url_for('static', filename='img/icone_olho_aberto.png') }}";
            }
        }

        document.getElementById('form').addEventListener('submit', function(event) { 
            const inputNome = document.querySelector('input[name="nome"]');
            const inputCpf = document.querySelector('input[name="cpf"]');
            const inputSenha = document.querySelector('input[name="senha"]');

            const nome = inputNome ? inputNome.value : true; 
            const cpf = inputCpf ? inputCpf.value : true;
            const senha = inputSenha ? inputSenha.value : true;

            if (!nome || !cpf || !senha) {
                event.preventDefault()
                alert("Por favor, preencha todos os campos obrigatórios.")
                return
            }
        })
    </script>
{% endblock %}