{% extends 'base.html' %}

{% block title %}Esqueci minha senha{% endblock %}

{% block main %}
    <h2>Esqueceu sua senha?</h2>
    <div id="container">
        <form id="form" action="{{ url_for('geral.esqueci_senha') }}" method="POST">
            <label for="">CPF/CNPJ:</label>
            <input type="text" name="login" maxlength="18" placeholder="Digite seu CPF/CNPJ" onkeyup="this.value=formatarCPFCNPJ(this.value)">

            <label for="">Nome:</label>
            <input type="text" name="nome" placeholder="Digite seu nome completo/nome_fantasia da sua empresa">
            
            <div class="form-buttons">
                <button type="submit" class="btn-primario">Enviar</button>
            </div>
        </form>
    </div>
{% endblock %}

<script>
    document.getElementById('form').addEventListener('submit', function(event) {
        const login = document.getElementsByName('login')
        const nome = document.getElementsByName('nome')
        const caracteresLogin = login.value.length
        const caracteresNome = nome.value.length
        
        if (caracteresLogin !== 14 && caracteresLogin !== 18) {
            event.preventDefault()
            alert("Insira um CPF/CNPJ válido.")
            login.focus()
        } else if (caracteresNome == 0) {
            event.preventDefault()
            alert("Insira um nome.")
            nome.focus()
        }
    })

    function formatarCPFCNPJ(login){
        const caracteres = document.getElementsByName('login').value.length
        login = login.replace(/\D/g, '')
        if (caracteres <= 14) {
            login = login.substring(0, 11)

            login = login.replace(/\D/g,'')
            login = login.replace(/(\d{3})(\d)/, '$1.$2')
            login = login.replace(/(\d{3})(\d)/, '$1.$2')
            login = login.replace(/(\d{3})(\d{1,2})$/, '$1-$2')
        }
        else {
            login = login.substring(0, 14)

            login = login.replace(/\D/g,'')
            login = login.replace(/(\d{2})(\d)/, '$1.$2')
            login = login.replace(/(\d{3})(\d)/, '$1.$2')
            login = login.replace(/(\d{3})(\d)/, '$1/$2')
            login = login.replace(/(\d{4})(\d)/, '$1-$2')
        }
        return login
    }
</script>