{% extends 'base.html' %}

{% block title %}Esqueci minha senha{% endblock %}

{% block main %}
    <h2>Esqueceu sua senha?</h2>
    <div id="container">
        <form id="form" action="{{ url_for('geral.esqueci_senha') }}" method="POST">
            <label for="login">CPF/CNPJ:</label>
            <input type="text" id="login" name="login" maxlength="18" placeholder="Digite seu CPF/CNPJ" onkeyup="this.value = formatarCPFCNPJ(this.value)">

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome completo/nome fantasia da sua empresa">
            
            <div class="form-buttons">
                <button type="submit" class="btn-primario">Enviar</button>
            </div>
        </form>
    </div>

    <script>
        document.getElementById('form').addEventListener('submit', function(event) {
            const loginInput = document.querySelector('input[name="login"]')
            const nomeInput = document.querySelector('input[name="nome"]')
            
            const caracteresLogin = loginInput.value.length
            const caracteresNome = nomeInput.value.trim().length
            
            if (caracteresLogin !== 14 && caracteresLogin !== 18) {
                event.preventDefault()
                alert("Insira um CPF/CNPJ válido.")
                loginInput.focus()
            } else if (caracteresNome === 0) {
                event.preventDefault()
                alert("Insira um nome.")
                nomeInput.focus()
            }
        });

        function formatarCPFCNPJ(valor) {
            const apenasNumeros = valor.replace(/\D/g, '')

            if (apenasNumeros.length <= 11) {
                return apenasNumeros
                    .replace(/(\d{3})(\d)/, '$1.$2')
                    .replace(/(\d{3})(\d)/, '$1.$2')
                    .replace(/(\d{3})(\d{1,2})$/, '$1-$2')
            } else {
                return apenasNumeros
                    .substring(0, 14)
                    .replace(/^(\d{2})(\d)/, '$1.$2')
                    .replace(/^(\d{2})\.(\d{3})(\d)/, '$1.$2.$3')
                    .replace(/\.(\d{3})(\d)/, '.$1/$2')
                    .replace(/(\d{4})(\d)/, '$1-$2')
            }
        }
    </script>
{% endblock %}