{% extends 'base-login.html' %}

{% block title %}{{ session.get('nome') }}{% endblock %}

{% block conteudo %}
    <div>
        <label for="imagem"></label><img id="foto-de-perfil" src="{{ url_for('geral.exibir_imagem_usuario') }}" alt="Foto de Perfil">
        <input id="imagem" name="imagem" type="file" accept="image/*" onchange="aplicarImagem(this)" hidden>

        {% if session.get('tipo') == 'admin' %}
            <h3>Nome Completo: <span>{{ usuario.nome }}</span></h3>
            <h4>CPF: <span>{{ usuario.cpf }}</span></h4>
        {% elif session.get('tipo') == 'candidato' %}
            <h3>Nome Completo: <span>{{ usuario.nome }}</span></h3>
            {% if usuario.nome_social != '' %}
                <h4>Nome Social: <span>{{ usuario.nome_social }}</span></h4>
            {% endif %}
            <h4>CPF: <span>{{ usuario.cpf }}</span></h4>
            <h4>Data de Nascimento: <span>{{ usuario.data_nasc }}</span></h4>
            <h4>Gênero: <span>{{ usuario.genero }}</span></h4>
            <h4>CEP: <span>{{ usuario.cep }}</span></h4>
            <h4>Endereco: <span>{{ usuario.endereco }}</span></h4>
            <h4>Número: <span>{{ usuario.numero }}</span></h4>
            <h4>Complemento: <span>{{ usuario.complemento }}</span></h4>
            <h4>Bairro: <span>{{ usuario.bairro }}</span></h4>
            <h4>Cidade: <span>{{ usuario.cidade }}</span></h4>
            <h4>Estado: <span>{{ usuario.estado }}</span></h4>
            <h4>Escolaridade: <span>{{ usuario.escolaridade }}</span></h4>
            <h4>Período de Estudo: <span>{{ usuario.periodo_estudo }}</span></h4>
        {% else %}
            <h3>Nome Fantasia: <span>{{ usuario.nome_fantasia }}</span></h3>
            <h4>Razão Social: <span>{{ usuario.razao_social }}</span></h4>
            <h4>CNPJ: <span>{{ usuario.cnpj }}</span></h4>
            <h4>Nome do Responsável: <span>{{ usuario.nome_responsavel }}</span></h4>
        {% endif %}
        <h4>Data de Registro: <span>{{ usuario.data_registro }}</span></h4>

        <a href="{{ url_for('geral.edicao_dados', id = session.get('id')) }}">Editar Dados</a>
        <button onclick="excluirConta()">Excluir Conta</button>
    </div>

    <script>
        function aplicarImagem(input) {
            if (input.files && input.files[0]) {
                const arquivo = input.files[0]
                const urlImagem = URL.createObjectURL(arquivo)
                document.getElementById('foto-de-perfil').src = urlImagem
            }
        }

        function excluirConta() {
            let resposta = confirm("Deseja mesmo excluir sua conta? Essa ação é irreversível.")
            if (resposta) {
                window.location.href = "{{ url_for(session.get('tipo') ~ '.excluir_' ~ session.get('tipo'), id = session.get('id')) }}"
            }
        }
    </script>
{% endblock %}