{% extends 'base-login.html' %}

{% block title %}Vagas - {{ empresa.nome }}{% endblock %}

{% block conteudo %}
    <div id="container-busca-filtros">
        <h3 id="numero-resultados">Nenhum resultado encontrado</h3>
    </div>

    <div id="itens"></div>

    <button onclick="document.getElementById('cadastro-vaga').hidden = false">+</button>

    <div id="cadastro-vaga" hidden>
        <select name="curso" id="curso">
                <option value="">Selecione um curso</option>
            {% for curso in cursos %}
                <option value="{{ curso.id }}">{{ curso.nome }}</option>
            {% endfor %}
        </select>

        <label for="quantidade">Quantidade de Vagas:</label>
        <input type="number" id="quantidade">

        <label for="detalhamento">Detalhamento: <span id="tamanho-detalhamento"> (0/150)</span></label>
        <input type="text" id="detalhamento" maxlength="150" onchange="placeholderDetalhamento()" placeholder="Descreva a função a ser desempenhada pelo candidato (Opcional)">

        {% if session.get('tipo') == 'empresa' and session.get('fase') == 'Preparação' %}
            <button onclick="cadastrarVaga()">Cadastrar Vaga</button>
        {% endif %}
    </div>
    
{% endblock %}

<script>
    const container = document.getElementById('itens')
    
    function atualizarPagina() { 
        const resultados = document.getElementById('numero-resultados').textContent 

        if (dados.cursos.length == 0) {
            resultados = "Nenhum resultado encontrado."
        } else if (dados.cursos.length == 1) {
            resultados = "1 resultado encontrado."
        } else {
            resultados = `${dados.cursos.length} resultados encontrados.`
        }

        fetch("{{ url_for('geral.api_dados_vagas' id = empresa.id) }}")
        .then(response => response.json())
        .then(dados => {
            container.innerHTML = ''
                
            if (dados.vagas.length == 0) {
                container.innerHTML = '<h3>Nenhum vaga encontrado com estes filtros.</h3>'
                return
            }

            dados.vagas.forEach(vaga => {

                item.id = `item-${'{{ vaga.id }}'}`
                item.classList.add('item') 
                item.innerHTML = `
                <p>ID: {{ vaga.id }} </p>
                <h4 id="curso-${'{{ vaga.id }}'}">{{ vaga.curso }}</h4>
                <p id="quantidade-${'{{ vaga.id }}'}">{{ vaga.quantidade }}</p>
                <p id="detalhamento-${'{{ vaga.id }}'}">{{ vaga.detalhamento }}</p>

                {% if session.get('tipo') == 'empresa' and session.get('fase') == 'Preparação' %}
                    <button onclick="editarVaga(${id})">Editar</button>
                    <button onclick="excluirVaga(${id})">Excluir</button>
                {% endif %}
                ` 
                container.appendChild(item)
            })
        })
    }

    function placeholderDetalhamento() {
        document.getElementById('tamanho-detalhamento').textContent = ` (${document.getElementById('detalhamento').length}/150)`
    }

    function cadastrarVaga() {
        const curso = document.getElementById('curso').value
        const quantidade = document.getElementById('quantidade').value
        const detalhamento = document.getElementById('detalhamento').textContent
        
        if (!curso || !quantidade || !detalhamento) {
            alert("Preencha todos os campos para cadastrar uma nova vaga!")
        } else {
            const dados = {
            'curso': `${curso}`,
            'quantidade': `${quantidade}`,
            'detalhamento': `${detalhamento}`
            }

            fetch(`{{ url_for('empresa.cadastrar_vaga', dados = ${dados}) }}`)
            item.id = `item-${'{{ vaga.id }}'}`
            item.classList.add('item')
            item.innerHTML = `
            <p>ID: {{ vaga.id }} </p>
            <h4 id="curso-${'{{ vaga.id }}'}">{{ vaga.curso }}</h4>
            <p id="quantidade-${'{{ vaga.id }}'}">{{ vaga.quantidade }}</p>
            <p id="detalhamento-${'{{ vaga.id }}'}">{{ vaga.detalhamento }}</p>

            {% if session.get('tipo') == 'empresa' and session.get('fase') == 'Preparação' %}
                <button onclick="editarVaga(${id})">Editar</button>
                <button onclick="excluirVaga(${id})">Excluir</button>
            {% endif %}
            ` 
            container.appendChild(item)
            document.getElementById("cadastro-vaga").hidden = true
        }
    }

    function editarVaga(id) {
        document.getElementById('curso').value = document.getElementById(`curso-${id}`).value
        document.getElementById('quantidade').value = document.getElementById(`quantidade-${id}`).value
        document.getElementById('detalhamento').textContent = document.getElementById(`detalhamento-${id}`).textContent

        const curso = document.getElementById('curso').value
        const quantidade = document.getElementById('quantidade').value
        const detalhamento = document.getElementById('detalhamento').textContent

        if (!curso || !quantidade || !detalhamento) {
            alert("Preencha todos os campos para editar a vaga!")
        } else {
            const dados = {
            'curso': `${curso}`,
            'quantidade': `${quantidade}`,
            'detalhamento': `${detalhamento}`
            }

            fetch(`{{ url_for('empresa.editar_vaga', dados = ${dados}) }}`)
            document.getElementById(`item-${id}`).innerHTML = `
            <p>ID: {{ vaga.id }} </p>
            <h4 id="curso-${'{{ vaga.id }}'}">${curso}</h4>
            <p id="quantidade-${'{{ vaga.id }}'}">${quantidade}</p>
            <p id="detalhamento-${'{{ vaga.id }}'}">${detalhamento}<p>
            
            {% if session.get('tipo') == 'empresa' and session.get('fase') == 'Preparação' %}
                <button onclick="editarVaga(${id})">Editar</button>
                <button onclick="excluirVaga(${id})">Excluir</button>
            {% endif %}
            `
            document.getElementById("cadastro-vaga").hidden = true
        }
    }

    function excluirVaga(id) {
        const resposta = confirm("Deseja mesmo excluir a vaga?")
        if (resposta) {
            fetch(`{{ url_for('empresa.excluir_vaga', id = ${id}) }}`)
            container.removeChild(document.getElementById(`item-${'{{ vaga.id }}'}`))
        }
    }

    atualizarPagina()
</script>