{% extends 'base-login.html' %}

{% block title %}Vagas - {{ empresa.nome }}{% endblock %}

{% block conteudo %}
    <div id="container-busca-filtros">
        <h3 id="numero-resultados">Nenhum resultado encontrado</h3>
    </div>

    <div id="itens"></div>

    {% if session.get('tipo') == 'empresa' and session.get('fase') == 'Preparação' %}
        <button onclick="document.getElementById('cadastro-vaga').hidden = false">+</button>
    {% endif %}

    <div id="cadastro-vaga" hidden>
        <select name="curso" id="curso">
            <option value="">Selecione um curso</option>
            {% for curso in cursos %}
                <option value="{{ curso.id }}">{{ curso.nome }}</option>
            {% endfor %}
        </select>

        <label for="quantidade">Quantidade de Vagas:</label>
        <input type="number" id="quantidade">

        {% if session.get('tipo') == 'empresa' and session.get('fase') == 'Preparação' %}
            <button onclick="cadastrarVaga()">Cadastrar Vaga</button>
        {% endif %}
    </div>

    <script>
        const container = document.getElementById('itens')
        
        function atualizarPagina() { 
            fetch("{{ url_for('geral.api_dados_vagas', id = empresa.id) }}")
            .then(response => response.json())
            .then(dados => {
                const elResultados = document.getElementById('numero-resultados')

                if (!dados.vagas || dados.vagas.length === 0) {
                    elResultados.textContent = "Nenhum resultado encontrado."
                    container.innerHTML = '<h3>Nenhuma vaga encontrada com estes filtros.</h3>'
                    return
                } else if (dados.vagas.length === 1) {
                    elResultados.textContent = "1 resultado encontrado."
                } else {
                    elResultados.textContent = `${dados.vagas.length} resultados encontrados.`
                }

                container.innerHTML = ''

                dados.vagas.forEach(vaga => {
                    const item = document.createElement('div')
                    item.id = `item-${vaga.id}`
                    item.classList.add('item') 
                    
                    let botoesEmpresa = ''
                    {% if session.get('tipo') == 'empresa' and session.get('fase') == 'Preparação' %}
                        botoesEmpresa = `
                            <button onclick="editarVaga(${vaga.id})">Editar</button>
                            <button onclick="excluirVaga(${vaga.id})">Excluir</button>
                        `
                    {% endif %}

                    item.innerHTML = `
                        <p>ID: ${vaga.id}</p>
                        <h4 id="curso-${vaga.id}">${vaga.curso}</h4>
                        <p id="quantidade-${vaga.id}">${vaga.quantidade}</p>
                        ${botoesEmpresa}
                    ` 
                    container.appendChild(item)
                })
            })
        }

        function cadastrarVaga() {
            const curso = document.getElementById('curso').value
            const quantidade = document.getElementById('quantidade').value
            
            if (!curso || !quantidade) {
                alert("Preencha todos os campos para cadastrar uma nova vaga!")
                return
            }

            let urlVaga = "{{ url_for('empresa.cadastrar_vaga', id=empresa.id, curso=901, quantidade=902) }}"
            urlVaga = urlVaga.replace('901', curso).replace('902', quantidade)

            fetch(urlVaga)
                .then(() => {
                    document.getElementById("cadastro-vaga").hidden = true
                    document.getElementById('curso').value = ''
                    document.getElementById('quantidade').value = ''
                    atualizarPagina()
                })
        }

        function editarVaga(id) {
            const curso = document.getElementById('curso').value
            const quantidade = document.getElementById('quantidade').value

            if (!curso || !quantidade) {
                alert("Preencha os campos do formulário para editar a vaga!")
                return
            }

            let urlEditar = "{{ url_for('empresa.editar_vaga', id=empresa.id, id_vaga=900, curso=901, quantidade=902) }}"
            urlEditar = urlEditar.replace('900', id).replace('901', curso).replace('902', quantidade)

            fetch(urlEditar)
                .then(() => {
                    document.getElementById("cadastro-vaga").hidden = true
                    atualizarPagina()
                })
        }

        function excluirVaga(idVaga) {
            const resposta = confirm("Deseja mesmo excluir a vaga?")
            if (resposta) {
                let urlExcluir = "{{ url_for('empresa.excluir_vaga', id=empresa.id, id_vaga=900) }}"
                urlExcluir = urlExcluir.replace('900', idVaga)

                fetch(urlExcluir)
                    .then(() => {
                        atualizarPagina()
                    })
            }
        }

        atualizarPagina()
    </script>
{% endblock %}